data/student_performance
data/ricci
data/kdd_census_income
data/diabetes
data/COMPAS
data/communities_and_crime
data/adult/adult.names
__pycache__
.ipynb_checkpoints
.Rhistory
data/bank_marketing/bank-additional-full.csv
data/bank_marketing/bank-additional-names.txt
data/bank_marketing/bank-additional.csv
data/bank_marketing/bank-names.txt
data/bank_marketing/bank.csv
data/credit_card_clients/default of credit card clients.xls
data/german_credit_data/german.doc
data/german_credit_data/german.data-numeric
data/lawschool/readme.md
data/lawschool/law_dataset.arff
data/oulad/assessments.csv
data/oulad/courses.csv
data/oulad/studentAssessment.csv
data/oulad/studentRegistration.csv
data/oulad/studentVle.csv
data/oulad/vle.csv
figures
MakeFigures.R
aif360.py
fairgbm_classifier.py
fairmask.py
hardt.py
DataLoader_old.py
FairnessMetrics_old.py